<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.louiekotler.2FA-code-catcher</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/2FA-code-catcher</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/2FA-code-catcher.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/2FA-code-catcher.err</string>
</dict>
</plist>